<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Syncadia</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="styles/main.css" rel="stylesheet">
    <script src="components/theme-switcher.js"></script>
    <script src="components/nav-menu.js"></script>
    <script src="components/footer.js"></script>
    <script src="scripts/theme-selector.js"></script>
</head>
<body class="default-theme">
    <!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/task-manager"><img src="/Images/logo.png" alt="Logo"></a>
        <div class="collapse navbar-collapse">
            <nav-menu></nav-menu>
        </div>
        <theme-switcher></theme-switcher>
    </nav>

    <!-- Main Content -->
    <div class="container text-center mt-5">
        <h1>Explore Our Powerful Features</h1>
        <p class="lead">Discover how our task management tool can help you streamline your workflow, enhance collaboration, and boost productivity!</p>

        <div class="row mt-5">
            <div class="col-md-6 text-left">
                <h2>Task Creation and Management</h2>
                <p>Create, organize, and prioritize your tasks with ease. Set due dates, assign tasks to team members, and track progress in real-time.</p>
                <p>You will be able to work on your own tasks or even collaborate with other people/team members. You will also have backup to your deleted notes, take notes, have a calendar that collects all the tasks/event you log, have progress tracking of all the tasks done or to be done and finally, you can take a quiz to guide you on which productivity method suits you most! This is all available in the FREE version.</p>
            </div>
            <div class="col-md-6">
                <img src="Images/TaskIcon.png" alt="Task Icon" class="img-fluid">
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-6">
                <img src="Images/CoinIcon.png" alt="Token Icon" class="img-fluid">
            </div>
            <div class="col-md-6 text-left">
                <h2>Game Token</h2>
                <p>Complete tasks and watch your character evolve! Earn tokens and unlock new abilities or customizations as you stay productive.</p>
            </div>
        </div>
    </div>
    <hr>

     <!-- Footer -->
     <custom-footer></custom-footer>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>