/* Default Theme */
.default-theme {
    --bg-color: #f8f9fa;
    --text-color: #000;
    --nav-color: #f8f9fa;
    --nav-text-color: #000;
    --button-bg-color: #007bff;
    --footer-bg-color: #f8f9fa;
    --footer-text-color: #666;
}

/* Dark Theme */
.dark-theme {
    --bg-color: #343a40;
     --text-color: #ffffff;
    --nav-color: #343a40;
    --nav-text-color: #ffffff;
    --button-bg-color: #007bff;
    --footer-bg-color: #343a40;
    --footer-text-color: #999;
}


/* Pink Theme */
.pink-theme {
    --bg-color: #ffe4e6;
    --text-color: #000;
    --nav-color: #f8bbd0;
    --nav-text-color: #880e4f;
    --button-bg-color: #d81b60;
    --footer-bg-color: #f8bbd0;
    --footer-text-color: #880e4f;
}



/* Teal Theme */
.teal-theme {
    --bg-color: #e0f2f1;
    --text-color: #000;
    --nav-color: #b2dfdb;
    --nav-text-color: #004d40;
    --button-bg-color: #00796b;
    --footer-bg-color: #b2dfdb;
    --footer-text-color: #004d40;
}

/* Apply theme colors */
body {
    font-family: 'Arial', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    text-align: center;
}

h1, h2, h4 {
    font-weight: bold;
    color: var(--text-color);
}

.navbar{
    background-color: var(--nav-color);
    border-bottom: 1px solid #dee2e6;
    color: var(--nav-text-color);
    text-align: center;
}

.footer{
    text-align: center;
    font-size: 12pt;

}

/* Navbar Styles */
.navbar-brand img, .navbar-brand .logo {
    height: 40px;
}

.navbar-nav .nav-link, .nav-link {
    font-weight: bold;
    color: var(--nav-text-color) !important;
    text-align: left;
}

.nav-link:hover {
    text-decoration: underline;
}

/* Sidebar Styles */
.sidebar {
    padding: 20px;
    border-right: 1px solid #dee2e6;
    min-width: 150px;
    background-color: transparent;
}

.sidebar .nav-link {
    margin-bottom: 10px;
}

/* Main Content Styles */
.main-content, .container{
    margin-top: 50px;
    font-weight: normal;
}

.text {
    font-weight: normal;
    text-align: left;
}

.textsub {
    font-weight: normal;
    text-align: center;
    font-size: 20pt;
}

/* Card Styles */
/*
.card {
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border: 1px solid #dee2e6;
}

.card-body, .card-title {
    text-align: center;
    font-weight: bold;
}
*/

/* Default Theme */
.default-theme .card {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #dee2e6;
}

/* Dark Theme */
.dark-theme .card {
    background-color: #343a40;
    color: #ffffff;
    border: 1px solid #dee2e6;
}

/* Pink Theme */
.pink-theme .card {
    background-color: #ffe4e6;
    color: #000000;
    border: 1px solid #880e4f;
}

/* Teal Theme */
.teal-theme .card {
    background-color: #e0f2f1;
    color: #000000;
    border: 1px solid #00796b;
}

/* General card styles */
.card-body {
    padding: 20px;
}

.card-title {
    font-weight: bold;
}

.card-text {
    font-size: 16px;
}


/* Image Styles */
img.img-fluid, .text-center img {
    max-width: 100%;
    height: auto;
    
}


/* Button Styles */
.btn-primary {
    background-color: var(--button-bg-color);
    display: block;
    margin-right: auto;
    width: fit-content;
}

.btn-sec {
    background-color: var(--button-bg-color);
    margin-right: auto;
    width: fit-content;
}


.btn-link {
    padding: 0;
    color: var(--nav-text-color);
    font-weight: bold;
}

/* Footer Styles */
footer, .footer {
    background-color: var(--footer-bg-color);
    color: var(--footer-text-color);
    margin-top: 100px;
 
}

footer h5 {
    font-weight: bold;
}

footer ul {
    padding-left: 0;
    list-style: none;
}

footer ul li a {
    color: var(--nav-text-color);
    text-decoration: none;
    
}

footer ul li a:hover {
    text-decoration: underline;
}

.progress-circle {
    display: inline-block;
    margin: 20px auto;
    width: 100px;
    height: 100px;
}

.circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 100%;
    max-height: 250px;
}

.circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 3.8;
}

.circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
}

@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}

.pink .circle {
    stroke: #ff007f;
}

.percentage {
    fill: #666;
    font-family: sans-serif;
    font-size: 0.5em;
    text-anchor: middle;
}


/* Timer Box */
.timer-box {
    width: 150px;
    text-align: center;
    font-size: 16px;
    padding: 5px;
}

.timer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 50px;
}

/* Notepad Styles */
.toolbar button,
.toolbar select
 {
    margin-right: 5px;
    font-size: 1.2rem;
}

#notepadContent {
    background-color: var(--bg-color);
    color: var(--text-color);
    width: 100%;
    max-width: 600px;
    margin: auto;
    height: 300px;
    overflow-y: auto;
}